* {
  margin: 0;
  padding: 0;
  font-family: 'Rufina', serif;
  font-size: 0.90rem; }

html {
  background: #111111; }

body {
  background-color: #111111; }

.contenedorMenu {
  display: flex;
  justify-content: flex-start;
  margin: 0px 15px; }

.contenedorHeader {
  width: 450px;
  /*margin: 10px 15px;*/
  position: relative;
  top: 25vh;
  left: 15vw; }

h1 {
  color: #E1B378;
  font-size: 4rem;
  text-align: center; }

h2 {
  color: #5a5a5a;
  text-align: center; }

.navMenu {
  display: flex;
  align-items: center; }
  .navMenu ul {
    display: flex;
    margin: 0px; }
  .navMenu li,
  .navMenu a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    color: #ceb98e;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    .navMenu li:hover,
    .navMenu a:hover {
      color: #E1B378; }

.mainBanner {
  height: 100vh;
  background-image: url("../img/BG-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position-x: right; }

.favionImagen {
  filter: invert(89%) sepia(59%) saturate(989%) hue-rotate(316deg) brightness(88%) contrast(90%); }

.icono {
  margin: 25px;
  width: 40px;
  filter: invert(94%) sepia(76%) saturate(626%) hue-rotate(314deg) brightness(88%) contrast(88%);
  animation-name: colores;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  color: #E1B378; }

.mainBG {
  height: 50vh;
  background-image: url("../img/sallon1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  background-color: #111111;
  margin-top: 10px; }

.footerTop {
  display: flex;
  justify-content: space-evenly; }
  .footerTop a,
  .footerTop p {
    margin-top: 15px;
    color: #5a5a5a; }
  .footerTop a {
    text-decoration: none; }

.footerBottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 15px 0px; }
  .footerBottom p {
    margin: 10px 0px;
    color: #5a5a5a;
    font-size: 0.75rem; }

.redes {
  margin: 0px 25px; }

.iconoRedes {
  margin: 3px;
  width: 17px;
  filter: invert(36%) sepia(0%) saturate(1262%) hue-rotate(144deg) brightness(93%) contrast(88%); }
  .iconoRedes:hover {
    filter: invert(89%) sepia(59%) saturate(989%) hue-rotate(316deg) brightness(88%) contrast(90%);
    scale: 115%;
    animation-name: redes;
    animation-duration: 700ms; }

@keyframes redes {
  from {
    scale: 100%; }
  to {
    scale: 115%; } }

.seccionIndex {
  display: flex;
  flex-direction: row-reverse; }

.seccionIndex {
  display: flex;
  flex-direction: row-reverse; }

.imagenIndex {
  width: 65vw; }

.textoSeccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px; }
  .textoSeccion h3 {
    color: #ceb98e;
    text-align: left; }
  .textoSeccion p {
    font-size: 1.25rem;
    color: #5a5a5a;
    text-align: left; }

.Alt {
  flex-direction: row; }

.derecha {
  padding-right: 30px;
  align-items: flex-end; }
  .derecha h3,
  .derecha p {
    text-align: right; }

.testimonials {
  margin: 50px 10px;
  display: flex;
  justify-content: space-evenly; }

.cardTestimonial {
  display: flex;
  align-items: center;
  width: 30vw;
  height: auto;
  min-height: 80px;
  background-color: #1B1B1B;
  border: 0px solid;
  border-radius: 10px; }
  .cardTestimonial p {
    margin: 5px;
    color: #5a5a5a;
    text-align: center; }

.imgTestimonial {
  width: 50px;
  margin: 8px;
  border: 0px solid;
  border-radius: 50%; }

@media (max-width: 500px) {
  .mainBanner {
    height: 100vh;
    background-image: url("../img/BG-1-M.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position-x: right; } }
