@import "estilos";

.contenedorMenu {
    display: flex;
    justify-content: flex-start;
    margin: 0px 15px;
}

.contenedorHeader {
    width: 450px;
    /*margin: 10px 15px;*/
    position: absolute;
    top: 40vh;
    left: 15vw;
    z-index: 2;
    
}

h1 {
    color: $color-naranja;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}

h2 {
    color: $color-darvys-grey;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    
}

.navMenu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
    z-index: 2;

    ul {
        display: flex;
        margin: 0px;
    }

    li,
    a {

        list-style: none;
        text-decoration: none;
        margin: 5px;
        color: $color-naranja-claro;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &:hover {
            color: $color-naranja;
        }
    }
}

.mainBanner {
    height: 100vh;
    background-image: url("../img/BG-1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position-x: right;
}

.favionImagen {
    filter: $color-naranja-filter1;
}



.icono {
    margin: 25px;
    width: 40px;
    filter: $color-naranja-filter2;
    animation-name: colores;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    color: $color-naranja;
}

.mainBG {
    height: 50vh;
    background-image: url("../img/sallon1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    background-color: $color-smoky-black;
    margin-top: 10px;
}

.footerTop {
    display: flex;
    justify-content: space-evenly;

    a,
    p {
        margin-top: 15px;
        color: $color-darvys-grey;
    }

    a {
        text-decoration: none;
    }
}

.footerBottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;

    p {
        margin: 10px 0px;
        color: $color-darvys-grey;
        font-size: 0.75rem;
    }
}

.redes {
    margin: 0px 25px;
}

.iconoRedes {
    margin: 3px;
    width: 25px;
    filter: $color-gris-filter;

    &:hover {
        filter: $color-naranja-filter1;
        scale: 115%;
        animation-name: redes;
        animation-duration: 400ms;

    }
}

@keyframes redes {
    from {
        scale: 100%;
    }

    to {

        scale: 115%;
    }
}

.seccionIndex {
    display: flex;
    flex-direction: row-reverse;
}

.seccionIndex {
    display: flex;
    flex-direction: row-reverse;
}

.imagenIndex {
    width: 65vw;
}

.textoSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;

    h3 {
        color: $color-naranja-claro;
        text-align: left;
    }

    p {
        font-size: 1.25rem;
        color: $color-darvys-grey;
        text-align: left;
    }
}

.Alt {
    flex-direction: row
}

.derecha {
    padding-right: 30px;
    align-items: flex-end;

    h3,
    p {
        text-align: right;

    }
}

.testimonials {
    @include displayCards
}

.cardTestimonial {
    display: flex;
    align-items: center;
    width: 30vw;
    height: auto;
    min-height: 80px;
    background-color: $color-eerie-black;
    border: 0px solid;
    border-radius: 10px;

    p {
        margin: 5px;
        color: $color-darvys-grey;
        text-align: center;
    }
}

.imgTestimonial {
    width: 50px;
    margin: 8px;
    border: 0px solid;
    border-radius: 50%;
}

.containerEquipo {
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        color: $color-naranja-claro;
        text-transform: uppercase;
    }
}

.equipo {
    @include displayCards
}

.cardEquipo {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 500px;

    p {
        margin: 5px;
        color: $color-darvys-grey;
        text-align: center;
    }
}

.imgEquipo {
    width: 30vw;
    height: 400px;
    object-fit: cover;
    object-position: top;
}


.navbar-toggler {
    border: 0px solid $color-naranja-claro ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28206, 185, 142, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}