@import "estilos";

.naranja {
    color: $color-naranja-claro;
}

.contenedorMenu {
    display: flex;
    justify-content: flex-start;
    margin: 0px 15px;
}

.contenedorHeader {
    width: 450px;
    position: absolute;
    top: 40vh;
    left: 15vw;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.caja {
    z-index: 2;
    width: 100vw;
    height: 118px;
    background-color: $color-eerie-black;
    opacity: 0.5;
    position: absolute;
}

.textoPrinc {
    position: absolute;
    z-index: 4;
}

h1 {
    color: $color-naranja;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

h2 {
    color: $color-silve-darker;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);

}

.btn {
    margin: 0;
    background-color: $color-eerie-black;
    font-size: 1.1rem;
    color: $color-naranja-claro;

    &:hover {
        background-color: $color-naranja;
    }

    &:active {
        background-color: $color-naranja-fuerte;
    }
}

.boton {
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        color: $color-darvys-grey;
    }

}


.navMenu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
    /*z-index: 2;*/



    ul {
        display: flex;
        margin: 0px;
    }

    li,
    a {

        list-style: none;
        text-decoration: none;
        margin: none;
        color: $color-naranja-claro;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &:hover {
            color: $color-naranja-fuerte;

        }
    }
}

.mainBanner {
    height: 100vh;
    background-image: url("../img/BG-1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position-x: right;
}

.precioBanner {
    background-image: url("../img/BG-precios-2.webp");
}

.servicioBanner {
    background-image: url("../img/BG-servicios.webp");
}

.contactoBanner {
    background-image: url("../img/BG-contacto.webp");
}

.galeriaBanner {
    background-image: url("../img/BG-galeria2.jpg");
}

.nosotrosBanner {
    background-image: url("../img/BG-nosotros.webp");
    background-position-x: center;
}

.favionImagen {
    filter: $color-naranja-filter1;
}



.icono {
    margin: 25px;
    width: 40px;
    filter: $color-naranja-filter2;
    animation-name: colores;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    color: $color-naranja;
}

.mainBG {
    height: 50vh;
    background-image: url("../img/sallon1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    background-color: $color-smoky-black;
    margin-top: 10px;
    margin: 0;
}

.footerTop {
    display: flex;
    justify-content: space-evenly;

    a,
    p {
        margin-top: 15px;
        color: $color-darvys-grey;
    }

    a {
        text-decoration: none;
    }
}

.footerBottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;

    p {
        margin: 10px 0px;
        color: $color-darvys-grey;
        font-size: 0.75rem;
    }
}

.redes {
    margin: 0px 25px;
}

.iconoRedes {
    margin: 3px;
    width: 25px;
    filter: $color-gris-filter;

    &:hover {
        filter: $color-naranja-filter1;
        scale: 115%;
        animation-name: redes;
        animation-duration: 400ms;

    }
}

@keyframes redes {
    from {
        scale: 100%;
    }

    to {

        scale: 115%;
    }
}

.seccionIndex {
    display: flex;
    flex-direction: row-reverse;
}

.seccionIndex {
    display: flex;
    flex-direction: row-reverse;
}

.imagenIndex {
    width: 65vw;
}

.textoSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

    h3 {
        color: $color-naranja-claro;
        text-align: left;
    }

    p {
        font-size: 1.25rem;
        color: $color-darvys-grey;
        text-align: left;
    }
}

.Alt {
    flex-direction: row
}

.derecha {
    padding: 20px;
    align-items: flex-end;

    h3,
    p {
        text-align: right;

    }
}

.testimonials {
    @include displayCards
}

.cardTestimonial {
    display: flex;
    align-items: center;
    width: 30vw;
    height: auto;
    min-height: 80px;
    background-color: $color-eerie-black;
    border: 0px solid;
    border-radius: 10px;

    p {
        font-size: 1.15rem;
        margin: 5px;
        color: $color-darvys-grey;
        text-align: center;
    }
}

.imgTestimonial {
    width: 60px;
    margin: 8px;
    border: 0px solid;
    border-radius: 50%;
}

.containerEquipo {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 10px 0px;
    width: 100vw;

    h3 {
        text-align: center;
        color: $color-naranja-claro;
        text-transform: uppercase;
    }
}
.alternativo{
    --bs-gutter-x:1rem;
}


.equipo {
    @include displayCards;
}

.cardEquipo {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 450px;

    p {
        font-size: 1.15rem;
        margin: 5px;
        color: $color-darvys-grey;
        text-align: center;
    }
}

.muestra {
    width: 30vw;
}

.imgEquipo {
    max-width: 30vw;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.imgEquipoIndex {
    max-width: none;
    width: 30vw;
}


.navbar-toggler {
    border: 0px solid $color-naranja-claro ;
    scale: 120%;
    margin-bottom: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28206, 185, 142, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.servicioCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin: 15px 5px;

    overflow: hidden;

    h3 {
        color: $color-naranja-claro;
        text-align: center;
    }

}

.elementosServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgServicio {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.margen {
    margin-top: 5px
}

.contenedorPrecios {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3,
    p {
        margin: 0;
        margin: 10px;
    }

    h3 {
        text-align: center;
        text-transform: uppercase;
        color: $color-naranja;
    }

    p {
        text-align: center;

    }
}

.subtitulo {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.precioCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    border-left: 1px solid $color-naranja-claro;
    border-right: 1px solid $color-naranja-claro;
    padding: 10px;
    margin: 35px 10px;
    height: 200px;

    h4,
    .precio {
        color: $color-naranja-claro;
    }

    p {
        margin: 0;
    }
}

.precioTexto {
    font-size: 1.15rem;
}

.precio {
    font-size: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    margin-bottom: 30px;


}

.campo {
    width: 50vw;
    height: 30px;
    background-color: $color-smoky-black;
    border: 1px solid $color-darvys-grey;
    color: $color-naranja-claro;
    border-radius: 3px;
    padding-left: 10px;

    &:focus {

        outline: $color-naranja;
        border: 1px solid $color-naranja
    }

}

.areaTexto {
    @extend .campo;
    height: 100px;
    padding-top: 10px;
}

.informacion {
    margin: 20px 5px;
}

.contacto {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }

    img {
        width: 30px;
        filter: $color-naranja-filter2;
        margin-bottom: 5px
    }

    a {
        text-decoration: none;
        color: $color-darvys-grey;
    }
}

.galeria {
    margin: 5px;
}

.img-galeria {
    border-radius: 10px;
    border: 1px solid $color-naranja-claro;
    margin: 10px 0px;
}

.img-nosotros {
    margin: 10px 0px;
}

.containerFig {
    margin: 0px
}

.textoDescripcion {
    font-size: 1rem;
}

.centrado {
    text-align: center;
    margin: 10px;
}

.nosotrosCentral {

    display: flex;

}

.nosotrosTexto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    margin: 5px;
    padding: 10px;

    p {

        margin: 10px 0px;
        font-size: calc(1rem + 0.25vw);
        text-align: justify;
    }

    h3 {
        color: $color-naranja;
        text-transform: uppercase;
        text-align: center;

        &::after {
            color: red;
        }
    }

}

.nosotrosImagen {
    width: 50vw;

}

.containerImgEquipo {
    text-align: center;
}
.whatsapp{
    
    position: fixed;
    bottom: 30px;
    right: 30px;
    filter: $color-naranja-filter2;
}
.iconows{
    width: 45px;
}
.ws{
    display: none;
}