$color-naranja: #E1B378;
$color-blanco: #ffffff;
$color-darvys-grey: #5a5a5a;
$color-eerie-black: #1B1B1B;
$color-smoky-black: #111111;
$color-naranja-filter1: invert(89%) sepia(59%) saturate(989%) hue-rotate(316deg) brightness(88%) contrast(90%);
$color-naranja-filter2: invert(94%) sepia(76%) saturate(626%) hue-rotate(314deg) brightness(88%) contrast(88%);

