@media (max-width: 576px) {
    .mainBanner {
        @include bannerCentral;
        background-image: url("../img/BG-1-S.webp");
    }

    .precioBanner {
        background-image: url("../img/BG-precios-S.webp");
    }

    .servicioBanner {
        background-image: url("../img/BG-servicios-2.webp");
       
    }

    .contactoBanner {
        background-image: url("../img/BG-contacto-S.webp");
    }

    .galeriaBanner {
        background-image: url("../img/BG-galeria-S.webp");
       
    }

    .nosotrosBanner {
        background-image: url("../img/BG-nosotros.webp");
        background-position-x: center;
    }

    .contenedorHeader {
        height: 60vh;
        width: 70%;
        position: absolute;
        top: 50vh;
        left: 15vw;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .seccionIndex {
        flex-wrap: wrap;
    }

    .imagenIndex {
        width: 100vw;
    }

    .textoSeccion {
        align-items: center;
        padding: 15px;

        h3,
        p {
            text-align: center;
        }

        h3 {
            font-size: calc(1.2rem + .3vw);
        }

        p {
            font-size: 0.9rem;
        }

    }

    .testimonials {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .cardTestimonial {
        justify-content: center;
        flex-direction: column;
        width: 95vw;
        min-height: 150px;
        margin: 10px 0px;
    }

    .equipo {
        flex-direction: column;
    }

    .cardEquipo {
        width: 95vw;
        height: 92vh;
        margin: 5px;   
        p {
            margin-top: 25px;
        }
    }

    .corta {
        height: 85vh;

        p {
            margin-top: 5px;
        }
    }

    .imgEquipo {
        
        width: 95vw;
        height: 80vh;

    }
    .imgEquipoIndex{
        max-width: none;
        width: 95vw;
    }

    .imgServicio {
        min-width: 300px;

    }

    .precioCard {
        margin: 35px 45px;
    }

    .campo {
        width: 85vw;
    }

    .nosotrosCentral {
        flex-direction: column;
        /*align-items: center;*/
    }

    .nosotrosTexto,
    .nosotrosImagen {
        width: 100vw;
        p {
            text-align: center;
         }

    }
    .iconows{
        display: none;
    }
    .ws{
        display: flex;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .mainBanner {
        @include bannerCentral
    }

    .precioBanner {
        background-image: url("../img/BG-precios-M.webp");
    }

    .servicioBanner {
        background-image: url("../img/BG-servicios-2.webp");
    }

    .contactoBanner {
        background-image: url("../img/BG-contacto-S.webp");
    }

    .galeriaBanner {
        background-image: url("../img/BG-galeria-S.webp");

    }

    .nosotrosBanner {
        background-image: url("../img/BG-nosotros.webp");
        background-position-x: center;
    }

    .contenedorHeader {
        height: 50vh;
        width: 70%;
        position: absolute;
        top: 50vh;
        left: 15vw;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    .imagenIndex {
        width: 50vw;
    }

    .testimonials {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .cardTestimonial {
        justify-content: center;
        flex-direction: column;
        width: 85vw;
        min-height: 150px;
        margin: 10px 0px;
    }

    .textoSeccion {
        align-items: center;
        padding: 15px;

        h3,
        p {
            text-align: center;
        }

        h3 {
            font-size: calc(1.2rem + .3vw);
        }

        p {
            font-size: 0.9rem;
        }

    }

    .precioCard {
        margin: 35px 45px;
    }

    .campo {
        width: 75vw;
    }

    .nosotrosCentral {
        flex-direction: column;
        
    }

    .nosotrosTexto,
    .nosotrosImagen {
        width: 100vw;
        p {
           text-align: center;
        }
    
    }   
    
}