@media (max-width: 500px){
    .mainBanner{        
        height: 100vh;
        background-image: url("../img/BG-1-M.webp");
        background-size:cover;
        background-repeat:no-repeat;
        background-clip: content-box;
        background-position-x: right;
        
    }
    .contenedorHeader {
        width: 350px;
        /*margin: 10px 15px;*/
        position: absolute;
        top: 0px;
        bottom: 10vh;
        left: 5vw;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 15vh;
        
    }
    
    h1 {
        color: $color-naranja;
        font-size: 1.75rem;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        
    }
    
    h2 {
        font-size: 1.5rem;
        color: $color-darvys-grey;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
        
    }
    
}